@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
	.matchStatus {
		background-color: gray;
		color: white;
	}

	.matchStatusWaiting {
		background-color: #ba1a1a;
		color: white;
	}
}
